<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <title>Hello Vue</title>
    </head>

    <body>
        <div class="container">
            <h2>Hello {{ name }}</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Enter your name:</label>
                    <!-- binded input to 'name' -->
                    <input v-model="name" type="text" class="form-control" id="name" placeholder="Name">
                </div>
            </form>
            <!-- displays all data within Vue instance filtered through JSON -->
            <pre>{{ $data }}</pre>
        </div>
    </body>

    <script src="vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                name: "",
            },
        })
    </script>
</html>
