<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <title>Hello Vue</title>
    </head>

    <body>
        <div class="container">
            <h1>This is me!</h1>
            <ul class="list-group">
                <li v-for="(value, key, index) in personalData" class="list-group-item">
                    {{index}} : {{key}} : {{value}}
                </li>
            </ul>
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                personalData: {
                    name: 'Patrick',
                    height: '6 feet 2 inches',
                    weight: '217lbs',
                    favoriteFood: 'pasta'
                }
            }
        })
    </script>
</html>
