<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <title>Hello Vue</title>
    </head>

    <body>
        <div class="container">
            <h1>Let's hear some stories!</h1>
            <ul class="list-group">
                <li v-for="(value, key, index) in story" class="list-group-item">
                    {{index}} : {{key}} : {{value}}
                </li>
            </ul>
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                story: {
                    plot: "Someone ate my chocolate...",
                    writer: 'John',
                    upvotes: 47
                }
            }
        })
    </script>
</html>
