<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <title>Vue.js Calculator App</title>
    </head>

    <body>
        <div class="container">
            <h1>Enter two numbers to calculate their sum:</h1>
            <form class="form-inline">
                <input v-model.number="a" class="form-control">
                <select v-model="operation" class="form-control">
                    <option>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                </select>
                <input v-model.number="b" class="form-control">
            </form>
            <h2>Result: {{ a }} {{ operation }} {{ b }} = {{ c }}</h2>
            <!-- displays all data within Vue instance filtered through JSON -->
            <pre>{{ $data }}</pre>
        </div>
    </body>

    <script src="vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                a: 1,
                b: 2,
                operation: "+"
            },
            computed: {
                c: function() {
                    switch(this.operation) {
                        case "+":
                            return this.a + this.b
                            break;
                        case "-":
                            return this.a - this.b
                            break;
                        case "*":
                            return this.a * this.b
                            break;
                        case "/":
                            return this.a / this.b
                            break;
                    }
                }
            }
        });
    </script>
</html>
