<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <title>Computed Properties</title>
    </head>

    <body>
        <div class="container">
            a={{ a }}, b={{ b }}
            <input v-model.number="a">
            <!-- displays all data within Vue instance filtered through JSON -->
            <pre>{{ $data }}</pre>
        </div>
    </body>

    <script src="vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: ".container",
            data: {
                a: 1
            },
            computed: {
                // a computed getter
                b: function() {
                    // **'this'** points to the Vue instance
                    return this.a + 1
                }
            }
        })
    </script>
</html>
