<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <title>Vue.js: Interactivity</title>
    </head>

    <body>
        <div class="container">
            <button v-on:click="upvotes++">
                Upvote! {{ upvotes }}
            </button>
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                upvotes: 0
            }
        })
    </script>
</html>
