<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <title>Directives Homework</title>
    </head>

    <body>
        <div class="container">
            <!-- the || is the logical operator OR -->
            <div v-if="gender == 'male' || gender == 'female'">
                <h1>Hello,
                      <!-- render span if 'gender' equals to 'male' -->
                      <span v-show="gender == 'male'">Mister {{ name }}.</span>
                      <!-- render span if 'gender' equals to 'female' -->
                      <span v-if="gender == 'female'">Miss {{ name }}.</span>
                </h1>
            </div>
            <h1 v-else>So you can't decide. Fine!</h1>

            <!-- show inputs -->
            <label for="gender">Enter your gender (male or female):</label>
            <input v-model="gender" type="text" class="form-control" id="gender" placeholder="Gender">
            <label for="name">Enter your name:</label>
            <input v-model="name" type="text" class="form-control" id="name" placeholder="Name">

            <!-- displays all data within Vue instance filtered through JSON -->
            <pre>{{ $data }}</pre>
        </div>
    </body>

    <script src="vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: ".container",
            data: {
                gender: '',
                name: '',
            }
        })
    </script>
</html>
