<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <title>Filters</title>
    </head>

    <body>
        <div class="container">
            <h1>Let's hear some stories!</h1>
            <div>
                <h3>Alex's stories</h3>
                <ul class="list-group">
                    <li v-for="story in storiesBy('Alex')" class="list-group-item">
                        {{ story.writer }}  said "{{ story.plot }}"
                    </li>
                </ul>
                <h3>John's stories</h3>
                <ul class="list-group">
                    <li v-for="story in storiesBy('John')" class='list-group-item'>
                        {{ story.writer }} said "{{ story.plot }}"
                    </li>
                </ul>
            </div>
            <!-- displays all data within Vue instance filtered through JSON -->
            <pre>{{ $data }}</pre>
        </div>
    </body>

    <script src="vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                stories: [
                    {
                        plot: "I crashed my car today!",
                        writer: "Alex"
                    },
                    {
                        plot: "Yesterday, someone stole my bag!",
                        writer: "John"
                    },
                    {
                        plot: "Someone ate my chocolate...",
                        writer: "John"
                    },
                    {
                        plot: "I ate someone's chocolate!",
                        writer: "Alex"
                    }
                ]
            },
            methods: {
                // A method which filters the stories depending on the writer
                storiesBy: function (writer) {
                    return this.stories.filter(function (story) {
                        return story.writer === writer
                    })
                }
            }
        })
    </script>
</html>
